<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <application>

        <activity
            android:name=".SinchCallActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:showOnLockScreen="true"
            android:theme="@style/Theme.SinchApp"
            android:supportsPictureInPicture="true"
            android:configChanges=
                "screenSize|smallestScreenSize|screenLayout|orientation|keyboardHidden" />

        <service
            android:name=".services.SinchService"
            android:exported="false" />
    </application>

</manifest>